<div class="wrapper">
    <div class="container-fluid">
      <header>
        <input type="hidden" id="hdnmandskills">
        <!-- navbar for large screen -->
        <div class="d-none d-sm-block">
          <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0)">
          <img src="assets/6Solvelogo.jpg" class="d-inline-block align-top logo" alt="logo-image">
          </a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
                <div class="main pt-2">
                    <div class="form-group has-search text-search">
                      <i-feather name="search" class="icon-color form-control-feedback"></i-feather>
                      <input type="text" class="form-control" id="search" placeholder="Search">
                    </div>
                  </div>
            </li>
            <li class="dropdown p-2">
                <a href="#" class="dropdown-toggle notify-bell" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <a href="#" data-toggle="tooltip" data-placement="left" title="8 new unread notifications">
                    <i-feather name="bell" class="icon-color"></i-feather><span class="dot"></span>
                  </a>
                </a>
                <ul class="dropdown-menu notify-drop">
                  <div class="notify-drop-title">
                      <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-6">Notification (<b>2</b>)</div>
                          <div class="col-md-6 col-sm-6 col-xs-6 text-right">Clear all</div>
                      </div>
                  </div>
                  <div class="drop-content">
                      <li>
                          <div class="row">
                          <div class="col-2 col-md-2 notify-img">
                            <i-feather name="user" class="icon-color"></i-feather>
                          </div>
                          <div class="col-9 col-md-9 offset-1">
                            <p>Lorem ipsum sit dolor amet consilium.</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                  </div>
                </ul>
              </li>
            <li class="nav-item settings-icon p-2">
                <i-feather name="settings" class="icon-color"></i-feather>
            </li>
          </ul>
          </div>
          </nav>
        </div>
          <!-- NavBar END for large screen -->
        
          <!-- navbar for small screen -->
          <nav class="navbar navbar-expand-md navbar-light fixed-top d-sm-none">
                  
            <a class="navbar-brand" href="javascript:void(0)">
              <img src="assets/6Solvelogo.jpg" class="d-inline-block align-top logo" alt="logo-image">
              </a>
              <ul class="navbar-nav small-bell">
                <li class="dropdown p-2">
                    <a href="#" class="dropdown-toggle notify-bell" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <a href="#" data-toggle="tooltip" data-placement="left" title="8 new unread notifications">
                        <i-feather name="bell" class="icon-color"></i-feather><span class="dot"></span>
                      </a>
                    </a>
                  </li>
                <li class="nav-item settings-icon p-2">
                    <i-feather name="settings" class="icon-color"></i-feather>
                </li>
              </ul>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <!-- Separator with title -->
                <li class="nav-item">
                  <div class="main pt-2">
                      <div class="form-group has-search text-search">
                        <i-feather name="search" class="icon-color form-control-feedback"></i-feather>
                        <input type="text" class="form-control" id="search" placeholder="Search">
                      </div>
                    </div>
              </li>
                <li class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
                    <small>NAVIGATION</small>
                </li>
            
                <a href="javascript:void(0)" class="list-group-item list-group-item-action active border-0" (click)="NavigateDash()">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="dashspanid"><i-feather name="home" class="active mr-4"></i-feather>Dashboard</span>
                    </div>
                </a>
                <!-- /END Separator -->
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0" (click)="NavigateTasks()">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="taskspanid"><i-feather name="bookmark" class="mr-4"></i-feather>Tasks</span>
                    </div>
                </a>
                <a href="/requisition" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="reqspanid"><i-feather name="briefcase" class="mr-4"></i-feather>Requisition</span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0" (click)="NavigateCandidate()">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="candspanid"><i-feather name="award" class="mr-4"></i-feather>Candidates</span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed"><i-feather name="layers" class="mr-4"></i-feather>Application</span>
                    </div>
                </a>
                <a href="/calendar" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="calspanid"><i-feather name="calendar" class="mr-4"></i-feather>Calendar</span>
                    </div>
                </a>
              </ul>
            </div>
          </nav>
          <!-- NavBar END for small screen -->
        
          <div class="row" id="body-row">
        
          <!-- Sidebar for large screen -->
        
          <div id="sidebar-container" class="sidebar-expanded d-none d-xl-block col-2">
          <ul class="list-group sticky-top sticky-offset">
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            </li>
            <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start recent border-0">
                <div class="d-flex w-100 justify-content-start align-items-center profile">
                    <i-feather name="user" class="icon-color user"></i-feather>
                    <span class="menu-collapsed pl-3">{{userparamvalue}}<p>{{user_rolevalue}}</p></span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <div id="submenu2" class="collapse sidebar-submenu">
                <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                    <span class="menu-collapsed"><span><i-feather name="user"></i-feather></span><span class="pl-3">My Accounts</span></span>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                    <span class="menu-collapsed"><span><i-feather name="settings"></i-feather></span><span class="pl-3">Settings</span></span>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                    <span class="menu-collapsed"><span><i-feather name="alert-circle"></i-feather></span><span class="pl-3">Support</span></span>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action" (click)="Logout()">
                    <span class="menu-collapsed"><span><i-feather name="log-out"></i-feather></span><span class="pl-3">Logout</span></span>
                </a>
            </div>
              <li class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
                  <small>NAVIGATION</small>
              </li>
          
              <a href="javascript:void(0)" id="dashid" class="list-group-item active list-group-item-action" (click)="NavigateDash()">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="dashspanid"><i-feather name="home" class="mr-4"></i-feather>Dashboard</span>
                  </div>
              </a>
              <a href="/tasks" id="taskid" class="list-group-item list-group-item-action ">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="taskspanid"><i-feather name="bookmark"  class="mr-4"></i-feather>Tasks</span>
                  </div>
              </a>
              <a href="/requisition" id="reqid" class="list-group-item list-group-item-action ">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="reqspanid" ><i-feather name="briefcase" class="mr-4"></i-feather>Requisition</span>
                  </div>
              </a>
              <a href="javascript:void(0)" id="candid" class="list-group-item list-group-item-action " (click)="NavigateCandidate()">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="candspanid"><i-feather name="award" class="mr-4"></i-feather>Candidates</span>
                  </div>
              </a>
              <a href="javascript:void(0)" id="appid" class="list-group-item list-group-item-action ">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="appspanid"><i-feather name="layers" class="mr-4"></i-feather>Application</span>
                  </div>
              </a>
              <a href="/calendar" id="calid" class="list-group-item list-group-item-action ">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="calspanid"><i-feather name="calendar" class="mr-4"></i-feather>Calendar</span>
                  </div>
              </a>
          </ul>
          <!-- List Group END-->
          </div>
          <!-- sidebar-container END for large screen -->
          
          <!-- Sidebar for medium-size screen -->
          <div id="sidebar-container" class="sidebar-expanded d-none d-sm-block d-xl-none col-2">
            <ul class="list-group sticky-top sticky-offset">
              <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed"> 
              </li>
              <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start recent border-0">
                  <div class="d-flex w-100 justify-content-start align-items-center profile">
                      <i-feather name="user" class="icon-color user"></i-feather>
                      <span class="menu-collapsed pl-3">Rani</span>
                      <span class="submenu-icon ml-auto"></span>
                  </div>
              </a>
              <div id="submenu2" class="collapse sidebar-submenu">
                <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed"><span><i-feather name="user"></i-feather></span><span class="pl-3 hr-detail">Account</span></span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed"><span><i-feather name="settings"></i-feather></span><span class="pl-3 hr-detail">Settings</span></span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed"><span><i-feather name="alert-circle"></i-feather></span><span class="pl-3 hr-detail">Support</span></span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed"><span><i-feather name="log-out"></i-feather></span><span class="pl-3 hr-detail">Logout</span></span>
              </a>
              </div>
                <li class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
                    <small>NAVIGATION</small>
                </li>
            
                <a href="javascript:void(0)" class="list-group-item list-group-item-action active border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="home" class="active mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="bookmark" class="mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="briefcase" class="mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="award" class="mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="layers" class="mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="calendar" class="mr-4"></i-feather></span>
                    </div>
                </a>
            </ul>
            <!-- List Group END-->
            </div>
            <!-- sidebar-container END for medium-size screen -->
  
  <!-- MAIN -->
  <!-- MAIN -->
  <div class="col-12 col-md-10 py-3 p-4 mt-5">
    <div class="tables bg-white pl-4 pr-4 mb-5">
    <h3 class="pt-3 pb-3">Task Lists</h3>
    <div class="search-div">
      <!-- <button mat-raised-button>
        <mat-icon>add</mat-icon>Create
      </button> -->
      <!-- <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
          <mat-icon>X</mat-icon>
        </button>
      </mat-form-field> -->
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" autocomplete="off" autofocus="true" placeholder="Filter" [(ngModel)]="searchKey">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>X</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="listData"  matSort>
        <ng-container matColumnDef="jobposterid" hidden>
          <mat-header-cell *matHeaderCellDef  mat-sort-header>JobPosterID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.jobposterid}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="taskid">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Task ID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.taskid}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="createdon">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Created On</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.createdon | date: 'dd-MM-yyyy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="tasktype">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Task Type</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.tasktype}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="assignor">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Assignor</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.assignor}}</mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="roletitle" hidden>
          <mat-header-cell *matHeaderCellDef mat-sort-header>RoleTitle</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.roletitle}}</mat-cell>
        </ng-container> -->
        <ng-container matColumnDef="priority">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.priority}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Task Details</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a href="javascript:void(0)" (click)="clickViewDetails(row.taskid)"> <i-feather name="eye" class="icon-color mr-3"></i-feather></a>
            <a href="javascript:void(0)" (click)="clickEdit(row.jobposterid)"> <i-feather name="menu" class="icon-color"></i-feather></a>
           
           
            <!-- <button mat-icon-button><mat-icon>launch</mat-icon></button>
            <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button> -->
          </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading data...
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No data.
          </mat-footer-cell>
        </ng-container> -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row> -->
      </mat-table>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator> -->
    </div>
    </div>
    
    <h3 class="text-center pb-4">Tasks List Details</h3> 
    <form #tasklistform="ngForm">
            <div class="row mx-auto">
                <div class="col-md-6 task-aside mx-auto">
                    <!-- <button class="btn btn-default mt-4 mb-2 ml-2 mark"><i-feather name="check"></i-feather><span class="ml-2">Mark Complete</span></button> -->
                    <h3 class="font-weight-bold mt-4 mb-4 pl-2 pr-2 task-head text-center">
                      {{taskactivity}}
                    </h3>
                    <div class="row mx-auto mb-4">
                      <div class="col-4 pl-0 task-assign ">
                          <p>Task Id</p>
                      </div>
                      <div class="col-8">
                          <p>{{taskpkid}}</p>
                      </div>
                  </div>
                  <div class="row mx-auto mb-4">
                    <div class="col-4 pl-0">
                        <p>Created On</p>
                    </div>
                    <div class="col-8">
                        <p><i-feather name="calendar" class="icon-color task-user"></i-feather><span class="ml-2">{{createdon}}</span></p>
                    </div>
                </div>
                    <div class="row mx-auto mb-4">
                        <div class="col-4 pl-0 task-assign">
                            <p>Assignor</p>
                        </div>
                        <div class="col-8">
                            <p><i-feather name="user" class="icon-color task-user"></i-feather><span class="ml-2">&nbsp;{{assignor}}</span></p>
                        </div>
                    </div>
                    <div class="row mx-auto mb-4">
                      <div class="col-4 pl-0 task-assign">
                          <p>Assignee</p>
                      </div>
                      <div class="col-8">
                          <p><i-feather name="user" class="icon-color task-user"></i-feather><span class="ml-2">&nbsp;{{assignee}}</span></p>
                      </div>
                  </div>
                    
                    <div class="row mx-auto mb-4">
                      <div class="col-4 pl-0 task-assign">
                          <p>Priority</p>
                      </div>
                      <div class="col-8">
                          <p class="pl-4">{{priority}}</p>
                      </div>
                  </div>
                    <div class="row mx-auto mb-4">
                        <div class="col-4 pl-0">
                            <p>Description</p>
                        </div>
                        <div class="col-8">
                            <p class="pl-4 task-desc">{{description}}</p>
                        </div>
                    </div>
                    <div class="row mx-auto mb-4">
                      <div class="col-4 pl-0">
                          <p>Status</p>
                      </div>
                      <div class="col-8">
                         <p class="pl-4 task-desc">{{status}}</p>
                      </div>
                  </div>
                    <div class="row mx-auto mb-5">
                        <div class="col-4 pl-0">
                            <p>Links</p>
                        </div>
                        <div class="col-8">
                            <a href="#" class="pl-4 task-desc">https://www.google.com/</a>
                        </div>
                    </div>
                </div>
            </div>
          </form>
    
    
    
 </div>
    <!-- Main Col END -->
    

    
  </div>
  <!-- body-row END -->
      </header>
      
      <section>
  
      </section>
  
          <footer>
  
          </footer>
      </div>
  </div>
  