<div class="wrapper">
    <div class="container-fluid">
      <header>
        <!-- navbar for large screen -->
        <div class="d-none d-sm-block">
          <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0)">
          <img src="assets/6Solvelogo.jpg" class="d-inline-block align-top logo" alt="logo-image">
          </a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
                <div class="main pt-2">
                    <div class="form-group has-search text-search">
                      <i-feather name="search" class="icon-color form-control-feedback"></i-feather>
                      <input type="text" class="form-control" id="search" placeholder="Search">
                    </div>
                  </div>
            </li>
            <li class="dropdown p-2">
                <a href="#" class="dropdown-toggle notify-bell" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <a href="#" data-toggle="tooltip" data-placement="left" title="8 new unread notifications">
                    <i-feather name="bell" class="icon-color"></i-feather><span class="dot"></span>
                  </a>
                </a>
                <ul class="dropdown-menu notify-drop">
                  <div class="notify-drop-title">
                      <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-6">Notification (<b>2</b>)</div>
                          <div class="col-md-6 col-sm-6 col-xs-6 text-right">Clear all</div>
                      </div>
                  </div>
                  <div class="drop-content">
                      <li>
                          <div class="row">
                          <div class="col-2 col-md-2 notify-img">
                            <i-feather name="user" class="icon-color"></i-feather>
                          </div>
                          <div class="col-9 col-md-9 offset-1">
                            <p>Lorem ipsum sit dolor amet consilium.</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                  </div>
                </ul>
              </li>
            <li class="nav-item settings-icon p-2">
                <i-feather name="settings" class="icon-color"></i-feather>
            </li>
          </ul>
          </div>
          </nav>
        </div>
          <!-- NavBar END for large screen -->
        
          <!-- navbar for small screen -->
          <nav class="navbar navbar-expand-md navbar-light fixed-top d-sm-none">
                  
            <a class="navbar-brand" href="javascript:void(0)">
              <img src="assets/6Solvelogo.jpg" class="d-inline-block align-top logo" alt="logo-image">
              </a>
              <ul class="navbar-nav small-bell">
                <li class="dropdown p-2">
                    <a href="#" class="dropdown-toggle notify-bell" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <a href="#" data-toggle="tooltip" data-placement="left" title="8 new unread notifications">
                        <i-feather name="bell" class="icon-color"></i-feather><span class="dot"></span>
                      </a>
                    </a>
                  </li>
                <li class="nav-item settings-icon p-2">
                    <i-feather name="settings" class="icon-color"></i-feather>
                </li>
              </ul>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <!-- Separator with title -->
                <li class="nav-item">
                  <div class="main pt-2">
                      <div class="form-group has-search text-search">
                        <i-feather name="search" class="icon-color form-control-feedback"></i-feather>
                        <input type="text" class="form-control" id="search" placeholder="Search">
                      </div>
                    </div>
              </li>
                <li class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
                    <small>NAVIGATION</small>
                </li>
            
                <a href="/dashboard" class="list-group-item list-group-item-action active border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="dashspanid"><i-feather name="home" class="active mr-4"></i-feather>Dashboard</span>
                    </div>
                </a>
                <!-- /END Separator -->
                <a href="/tasks" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="taskspanid"><i-feather name="bookmark" class="mr-4"></i-feather>Tasks</span>
                    </div>
                </a>
                <a href="/requisition" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="reqspanid"><i-feather name="briefcase" class="mr-4"></i-feather>Requisition</span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0" (click)="NavigateCandidate()">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="candspanid"><i-feather name="award" class="mr-4"></i-feather>Candidates</span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed"><i-feather name="layers" class="mr-4"></i-feather>Application</span>
                    </div>
                </a>
                <a href="/calendar" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="calspanid"><i-feather name="calendar" class="mr-4"></i-feather>Calendar</span>
                    </div>
                </a>
              </ul>
            </div>
          </nav>
          <!-- NavBar END for small screen -->
        
          <div class="row" id="body-row">
        
          <!-- Sidebar for large screen -->
        
          <div id="sidebar-container" class="sidebar-expanded d-none d-xl-block col-2">
          <ul class="list-group sticky-top sticky-offset">
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            </li>
            <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start recent border-0">
                <div class="d-flex w-100 justify-content-start align-items-center profile">
                    <i-feather name="user" class="icon-color user"></i-feather>
                    <span class="menu-collapsed pl-3">{{userparamvalue}}<p>{{user_rolevalue}}</p></span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <div id="submenu2" class="collapse sidebar-submenu">
                <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                    <span class="menu-collapsed"><span><i-feather name="user"></i-feather></span><span class="pl-3">My Accounts</span></span>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                    <span class="menu-collapsed"><span><i-feather name="settings"></i-feather></span><span class="pl-3">Settings</span></span>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                    <span class="menu-collapsed"><span><i-feather name="alert-circle"></i-feather></span><span class="pl-3">Support</span></span>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action" (click)="Logout()">
                    <span class="menu-collapsed"><span><i-feather name="log-out"></i-feather></span><span class="pl-3">Logout</span></span>
                </a>
            </div>
              <li class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
                  <small>NAVIGATION</small>
              </li>
          
              <a href="/dashboard" id="dashid" class="list-group-item active list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="dashspanid"><i-feather name="home" class="mr-4"></i-feather>Dashboard</span>
                  </div>
              </a>
              <a href="/tasks" id="taskid" class="list-group-item list-group-item-action ">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="taskspanid"><i-feather name="bookmark"  class="mr-4"></i-feather>Tasks</span>
                  </div>
              </a>
              <a href="/requisition" id="reqid" class="list-group-item list-group-item-action ">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="reqspanid" ><i-feather name="briefcase" class="mr-4"></i-feather>Requisition</span>
                  </div>
              </a>
              <a href="javascript:void(0)" id="candid" class="list-group-item list-group-item-action " (click)="NavigateCandidate()">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="candspanid"><i-feather name="award" class="mr-4"></i-feather>Candidates</span>
                  </div>
              </a>
              <a href="javascript:void(0)" id="appid" class="list-group-item list-group-item-action ">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="appspanid"><i-feather name="layers" class="mr-4"></i-feather>Application</span>
                  </div>
              </a>
              <a href="/calendar" id="calid" class="list-group-item list-group-item-action ">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="calspanid"><i-feather name="calendar" class="mr-4"></i-feather>Calendar</span>
                  </div>
              </a>
          </ul>
          <!-- List Group END-->
          </div>
          <!-- sidebar-container END for large screen -->
          
          <!-- Sidebar for medium-size screen -->
          <div id="sidebar-container" class="sidebar-expanded d-none d-sm-block d-xl-none col-2">
            <ul class="list-group sticky-top sticky-offset">
              <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed"> 
              </li>
              <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start recent border-0">
                  <div class="d-flex w-100 justify-content-start align-items-center profile">
                      <i-feather name="user" class="icon-color user"></i-feather>
                      <span class="menu-collapsed pl-3">Rani</span>
                      <span class="submenu-icon ml-auto"></span>
                  </div>
              </a>
              <div id="submenu2" class="collapse sidebar-submenu">
                <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed"><span><i-feather name="user"></i-feather></span><span class="pl-3 hr-detail">Account</span></span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed"><span><i-feather name="settings"></i-feather></span><span class="pl-3 hr-detail">Settings</span></span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed"><span><i-feather name="alert-circle"></i-feather></span><span class="pl-3 hr-detail">Support</span></span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed"><span><i-feather name="log-out"></i-feather></span><span class="pl-3 hr-detail">Logout</span></span>
              </a>
              </div>
                <li class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
                    <small>NAVIGATION</small>
                </li>
            
                <a href="javascript:void(0)" class="list-group-item list-group-item-action active border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="home" class="active mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="bookmark" class="mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="briefcase" class="mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="award" class="mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="layers" class="mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="calendar" class="mr-4"></i-feather></span>
                    </div>
                </a>
            </ul>
            <!-- List Group END-->
            </div>
            <!-- sidebar-container END for medium-size screen -->
  
  <!-- MAIN -->
  <div class="col-md-10 col-12 py-3 p-4">
    <h4 class="p-4">New Requisition</h4>
    <form id="NewRequisition" method="post" (ngSubmit)="SubmitNewRequistion(newrequform)" #newrequform="ngForm">
      <!-- <div class="text-danger" *ngIf="error.isError">{{error.errorMessage}}</div> -->
    <div class="row">    
    <div class="col-md-6 bg-white p-4">
    <h4 class="pr-4 pt-3 pb-4 requisition-heading">New Requisition Overview</h4>
    <div class="form-row formrow-height">
      <div class="form-group col-md-6">
      <label>Job Title</label>
      </div> 
        <div class="form-group col-md-6">
      <select class="form-control select2" id="jobtitle" #jb 
      [(ngModel)]="assigninhtmlctrl.jobtitle" name="jobtitle" required="required">
        <option value="0"></option>
        <option *ngFor="let jobs of reqservice.bindjobtitle" value="{{jobs.JobTitlePKID}}">
          {{jobs.JobTitleName}} </option>
       <!-- <option>Web Developer</option> 
       <option>.Net Developer</option> 
       <option>UI Developer</option> (change)="ChangeCity($event.target.value)"  -->
      </select> 
      <!-- <label id="jobtitle-error" class="error jobtitle-error" for="jobtitle">This field is required.</label>	   -->
      </div>
    
    </div>
    <div class="form-row formrow-height"> 
      <div class="form-group col-md-6">      
        <label>No.of openings </label>
      </div>	
      <div class="form-group col-md-6">
        <input type="number" size=65 name="JobOpeningsCount" [(ngModel)]="assigninhtmlctrl.JobOpeningsCount" min="0" max="15"  
        class="form-control" required="required" (keypress)="onlyNumber(event)"> 
        <span class="error" id="tele_err" style="display: none;">Please Enter the no of openings</span>
        
      </div>
    </div>
    <div class="form-row formrow-height"> 
      <div class="form-group col-md-6">      
        <label>Start Date&End Date</label>
      </div>	
      <div class="form-group col-md-6">
        <div class="row">
          <div class="col-md-6 col-6">
            <input type="text" size=65 class="form-control" id="StartDate" required="required" #sd
            [(ngModel)]="assigninhtmlctrl.StartDate" name="StartDate" > 
          </div>
          <div class="col-md-6 col-6">
            <input type="text" size=65 name="EndDate" class="form-control" id="EndDate" required="required" #ed
            [(ngModel)]="assigninhtmlctrl.EndDate"> 
          </div>
          <label for="date" class="error date-error ml-3">This field is required.</label>
         </div>      
      </div>
    </div>
    <div class="form-row formrow-height">
      <div class="form-group col-md-6">
      <label>Department</label>
      </div>
        <div class="form-group col-md-6">
      <select class="form-control select2" name="department" required="required" id="department" #nd
      [(ngModel)]="assigninhtmlctrl.department" (change)="onChangeDepartment($event.target.value)">
        <option value="0"></option>
        <option *ngFor="let depts of reqservice.bindDept" value="{{depts.DepartmentPKID}}">
          {{depts.DepartmentName}} </option>
      </select>
      <label for="department" class="error department-error">This field is required.</label>
      </div>
    </div>
    <div class="form-row formrow-height"> 
      <div class="form-group col-md-6">      
        <label>Overall Experience</label>
      </div>	 
      <div class="form-group col-md-6">
        <input type="number" size=65 name="OverallExperience" [(ngModel)]="assigninhtmlctrl.OverallExperience" min="0" max="15"
         class="form-control" (keypress)="onlyNumber(event)" required="required"> 
        <span class="error" id="tele_err" style="display: none;">Please Enter the overall experience</span>
        
      </div>
    </div>
    <div class="form-row formrow-height">
      <div class="form-group col-md-6">
      <label>Location</label>
      </div>
      <div class="form-group col-md-6">
        <div class="row">
          <div class="col-md-6 col-6">
            <select class="form-control select2" name="region" required="required" id="region" #reg
            [(ngModel)]="assigninhtmlctrl.region" (change)="onChangeLocation($event.target.value)">
             <option value="0"></option>
            <option *ngFor="let cit of reqservice.bindregion" value="{{cit.LocationPKID}}">
              {{cit.LocationName}} </option>
           </select>
           <!-- <label for="region" class="error location-error">This field is required.</label> -->
          </div>
          <div class="col-md-6 col-6">
            <select class="form-control select2" name="country" required="required" id="country" #cou
            [(ngModel)]="assigninhtmlctrl.country" (change)="onChangeLocation($event.target.value)">
             <option value="0"></option>
            <option *ngFor="let country of reqservice.bindcountry" value="{{country.StatePKID}}">
              {{country.StateName}} </option>
           </select>
           <!-- <label for="state" class="error location-error">This field is required.</label> -->
          </div>        
         </div>      
      </div>    
    </div>
  
    <div class="form-row formrow-height">
      <div class="form-group col-md-6">
      <!-- <label>Reason for Recruitment</label> -->
      </div>
        <div class="form-group col-md-6">
      <select class="form-control select2" name="city" id="city" [(ngModel)]="assigninhtmlctrl.city"
       required="required" (change)="onRecruitReason($event.target.value)" #cit>
        <option value="0"></option>
        <option *ngFor="let cit of reqservice.bindcity" value="{{cit.CityPKID}}">
          {{cit.CityName}} </option>
      </select>
      <!-- <label for="city" class="error reason-error">This field is required.</label> -->
      </div>
    </div>
  
    <div class="form-row formrow-height">
      <div class="form-group col-md-6">
      <label>Reason for Recruitment</label>
      </div>
        <div class="form-group col-md-6">
      <select class="form-control select2" name="recruitreason" id="recruitreason" [(ngModel)]="assigninhtmlctrl.recruitreason"
       required="required" (change)="onRecruitReason($event.target.value)" #nr>
        <option value="0"></option>
        <option *ngFor="let reason of reqservice.bindrecreason" value="{{reason.RecruitReasonPKID}}">
          {{reason.RecruitReason}} </option>
      </select>
      <label for="recruitreason" class="error reason-error">This field is required.</label>
      </div>
    </div>
    
    </div><!--overview--> 
    <div class="col-md-6 bg-white pt-4 pl-3 pr-3 pb-3">
    <h4 class="pr-4 pt-3 pb-4 requisition-heading">Job Responsibilities and Skill</h4>
    <div class="form-row formrow-text">
      <div class="form-group col-md-5">
      <label>Description</label>
      </div>
      <div class="form-group col-md-7">
      <textarea rows="3" cols="40" name="Description" [(ngModel)]="assigninhtmlctrl.Description"
       class="form-control" required="required"></textarea>
      </div>
    </div>
    <div class="form-row formrow-text">
      <div class="form-group col-md-5">
      <label for="tags">Mandatory Skills & corresponding experience</label>
      </div>
      <div class="form-group col-md-7">
        <div class="row">
          <div class="col-md-6 col-11">
            <div class="ui-widget" *ngFor="let ski of reqservice.bindMandSkills">
              <input id="tags" [(ngModel)]="ski[i]">
            </div>
            <!-- <input type="text"class="form-control" name="mandatoryskills" [(ngModel)]="assigninhtmlctrl.mandatoryskills" 
             required="required"> -->
          </div>
          <div class="col-md-6 col-1">
            <button class="button-blue text-white btn-primary" href="javascript:void(0)">ADD SKILLS</button>
          </div>
          <label for="date" class="error date-error ml-3">This field is required.</label>
         </div>      
      </div>
     
      <!-- <div class="form-group col-md-2">
        <a class="button-blue text-white" data-toggle="modal" href="#myModal" >Add Skill</a>  
      </div> -->
    </div>
    <div class="form-row formrow-text">
      <div class="form-group col-md-5">
      <label>Good to have skills & corresponding experience</label>
      </div>
      <div class="form-group col-md-7">
      <textarea rows="3" cols="40" name="goodskills" [(ngModel)]="assigninhtmlctrl.goodskills" class="form-control" 
      required="required"></textarea>
      </div>
      <!-- <div class="form-group col-md-2">
        <button class="button-blue text-white" id="submit"
       (click)="Validatenewrqst()" type="submit">Add Skill</button>
      </div> -->
    </div>
   
    <div class="form-row formrow-height"> 
      <div class="form-group col-md-5">      
        <label>Salary</label>
      </div>	
      <div class="form-group col-md-7">
        <input type="number" size="80" min="0" max="100000" name="Salary" [(ngModel)]="assigninhtmlctrl.Salary" 
        (keypress)="onlyNumber(event)" class="form-control" required="required"> 
        <span class="error" id="tele_err" style="display: none;">Please Enter your salary</span>      
      </div>
    </div>
    </div>
    </div><!--Row overview end-->
    <div class="row bg-white">
    <div class="col-md-6 bg-white pr-4 pt-0 pb-4">
    <h4 class="pr-4 pt-2 pb-4 requisition-heading">Job Information</h4>
    <div class="form-row formrow-height">
      <div class="form-group col-md-6">
      <label>Employment Type</label>
      </div>
        <div class="form-group col-md-6">
      <select class="form-control select2" name="employment" required="required" id="employment" #ne
      [(ngModel)]="assigninhtmlctrl.employment" (change)="onEmployType($event.target.value)">
        <option value="0"></option>
        <option *ngFor="let etype of reqservice.bindemploytype" value="{{etype.EmploymentTypePKID}}">
          {{etype.EmploymentTypeName}} </option>
      </select>
      <label for="employment" class="error employ-error">This field is required.</label>
      </div>
    </div>
    <div class="form-row formrow-height">
      <div class="form-group col-md-6">
      <label>Job Level</label>
      </div>
        <div class="form-group col-md-6">
      <select class="form-control select2" name="joblevel" required="required" id="joblevel" #njl
      [(ngModel)]="assigninhtmlctrl.joblevel" (change)="onJobLevelChange($event.target.value)">
        <option value="0"></option>
        <option *ngFor="let joblevel of reqservice.bindjoblevel" value="{{joblevel.JobLevelPKID}}">
          {{joblevel.JobLevelName}} </option>
      </select>
      <label for="joblevel" class="error job-error">This field is required.</label>
      </div>
    </div>
    <div class="form-row formrow-height">
      <div class="form-group col-md-6">
      <label>Shift</label>
      </div>
        <div class="form-group col-md-6">
      <select class="form-control select2" name="shift" required="required" id="shift" #ns
      [(ngModel)]="assigninhtmlctrl.shift" (change)="onShiftChange($event.target.value)">
        <option value="0"></option>
        <option *ngFor="let shift of reqservice.bindshift" value="{{shift.ShiftPKID}}">
          {{shift.ShiftType}} </option>
      </select>
      <label for="shift" class="error shift-error">This field is required.</label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
      <label>Travel</label>
      </div>
        <div class="form-group col-md-6">
      <select class="form-control select2" name="travel" required="required" id="travel" #nt
      [(ngModel)]="assigninhtmlctrl.travel" (change)="onTravelChange($event.target.value)">
        <option value="0"></option>
        <option *ngFor="let travel of reqservice.bindtravel" value="{{travel.TravelPKID}}">
          {{travel.TravelType}} </option>
      </select>
      <label for="travel" class="error travel-error ">This field is required.</label>
      </div>
    </div>
    
    </div>
    <div class="col-md-6 bg-white pr-4 pt-0 pb-4">
    <h4 class="pr-4 pt-2 pb-4 requisition-heading">Process & Owners</h4>
    
    <div class="form-row formrow-height">
      <div class="form-group col-md-5">
      <label>Interview Rounds</label>
      </div>
        <div class="form-group col-md-7">
      <select class="form-control select2" name="interviewrounds" required="required" id="interviewrounds" #ni
      [(ngModel)]="assigninhtmlctrl.interviewrounds" (change)="onInterRoundsChange($event.target.value)">
        <option value="0"></option>
        <option *ngFor="let inter of reqservice.bindinterlevel" value="{{inter.InterviewLevelPKID}}">
          {{inter.InterviewLevelType}} </option>
      </select>
      <label for="interview" class="error interview-error">This field is required.</label>
      </div>
    </div>
    <div class="form-row formrow-height">
      <div class="form-group col-md-5">
      <label>Approver</label>
      </div>
        <div class="form-group col-md-7">
      <select class="form-control select2" name="approver" id="approver" [(ngModel)]="assigninhtmlctrl.approver"
       required="required" (change)="onApproverChange($event.target.value)" #na>
        <option value="0"></option>
        <option *ngFor="let approve of reqservice.bindapprover" value="{{approve.UserPKID}}">
          {{approve.UserName}} </option>
      </select>
      <label for="approver" class="error approver-error">This field is required.</label>
      </div>
    </div>
    <div class="form-row formrow-height">
      <div class="form-group col-md-5">
      <label>Status</label>
      </div>
        <div class="form-group col-md-7">
      <select class="form-control select2" name="status" required="required" id="status" #ns
      [(ngModel)]="assigninhtmlctrl.status" (change)="onStatusChange($event.target.value)">
        <option value="0"></option>
        <option *ngFor="let stat of reqservice.bindstatus" value="{{stat.StatusPKID}}">
          {{stat.StatusName}} </option>
      </select>
      <label for="status" class="error status-error">This field is required.</label>
      </div>
    </div>
    <div class="form-row formrow-height">
      <div class="form-group col-md-5">
      <label>Additional notes</label>
      </div>
      <div class="form-group col-md-7">
      <textarea rows="3" cols="40" name="AdditionalNotes" [(ngModel)]="assigninhtmlctrl.AdditionalNotes" class="form-control" 
      required="required" aria-required="true"></textarea>
      </div>
    </div>
    </div>
    
    
    <div class="col-12 bg-white pr-4 pt-0 pb-4">
    <div class="form-row">
      <div class="form-group col-md-12">
      <label>Questionnaire</label>
      </div>
      <div class="form-group col-md-12">
      <textarea rows="10" required="required" name="question" [(ngModel)]="assigninhtmlctrl.question"></textarea>
      </div>
    </div>
    <br>
    <!-- <button type="submit" class="float-right button-darkblue text-white">Cancel</button> -->
    <button class="button-blue text-white newrequistion-btn float-right mr-5 submit-requistion" id="cancel"
      type="submit">Cancel</button>
    <button class="button-blue text-white newrequistion-btn float-right mr-5 submit-requistion" id="submit"
     type="submit">Submit</button>
    
    </div>
    
    </div><!--Row-information&owners-->
    
    </form>	
    
      <!-- <div class="row">      
            <div class="modal hide" id="myModal">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
              </div>
              <div class="modal-body">
                <form method="post" action='' name="login_form">
                  <p><input type="text" class="span3" name="eid" id="email" placeholder="Email"></p>
                  <p><input type="password" class="span3" name="passwd" placeholder="Password"></p>
                  <p><button type="submit" class="btn btn-primary">Sign in</button>
                    <a href="#">Forgot Password?</a>
                  </p>
                </form>
              </div>
              <div class="modal-footer">
                New To MyWebsite.com?
                <a href="#" class="btn btn-primary">Register</a>
              </div>
            </div>
      </div>
     -->
    
  <!-- Main Col END -->
  
  </div>
  <!-- Main Col END -->
  
  </div>
  <!-- body-row END -->
      </header>
      
      <section>
  
      </section>
  
          <footer>
  
          </footer>
      </div>
  </div>
  