<div class="wrapper">
    <div class="container form-cntr">
        <div class="row mx-auto lg-frm">
            <div class="col-lg-6 border pl-5 pr-5 pt-3 pb-3 bg-white">
                <div class="row">
                    <div class="col-5 mt-3">
                        <img src="assets/6Solvelogo.jpg" class="img-fluid">
                    </div>
                </div> 
                <div class="row pt-5">
                    <div class="col-11 pt-3">                        
                        <h3 class="heading-color">Change Password</h3>
                        <p class="text-color lgn-font-size">Enter your new password to access admin panel.
                    </div> 
                </div>
                <form name="RegForm" id="Form_ResetPassword" method="post"> 
				<div class="row"> 
                    <div class="col-12 mb-3">
                    
                        <div class="form-row"> 
                            <div class="form-group email-pass">
                                <label class="text-color ">New Password</label>
                                    <div class="d-flex">     
                                        <span class="p-1 border rounded-left"><i-feather name="Lock" class="icon-color"></i-feather></span><input type="password" size=65 name="newpassword" class="input-field required" title="Please enter the New Password" id="newpassword">      
                                    </div>
                                    <label id="password-error" class="error password-error" for="newpassword"></label>
                            </div>
                            <div class="form-group email-pass">
                                <label class="text-color ">Confirm Password</label>
                                    <div class="d-flex">     
                                        <span class="p-1 border rounded-left"><i-feather name="Lock" class="icon-color"></i-feather></span><input type="password" size=65 name="confirmpassword" class="input-field required" title="Please enter the Confirm Password" id="confirmpassword">      
                                    </div>
                                    <label id="password-error" class="error password-error" for="confirmpassword"></label>
                            </div>                            
                        </div> 
                       
                    
                    </div>
                </div>
                 
                <div class="row">
                    <div class="col-12 mb-3">
                    <div class="form-row">
                        <button class="button-blue text-white login-btn" id="submit" (click)="ValidateResetPswd()">Submit</button>
                    </div>                      
                </div>
                </div>
            </form>
                
				</div><!--first column-->
				 
            <div class="col-lg-6 pl-0 form-img">
                <img src="assets/450-520.jpg" class="img-fluid">
                
                <div class="row">
                    <div class="col-12">
                        <div class="img-text position-relative">
                            <h4 class="text-center text-white">I simply love it!</h4>
                                <p class="text-center text-white">"It's a elegant template. I love it very much!"</p>
                                <p class="text-center text-white">-Admin User</p>
                        </div> 
                    </div>
                </div> 
            </div>
	    </div>
				 
        <p class="text-center">Back to&nbsp;<a class="text-color-blue font-weight-bold" (click)="BacktoLogin()" href="#">Login</a></p>	  
		 		
				
	</div><!--container end--> 
</div><!--wrapper end-->