<!-- <form>
<div class="simple-login-container">
  <h2>Login Form</h2>
  <div class="row">
      <div class="col-md-12 form-group">
          <input type="text" class="form-control" placeholder="Username" required>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 form-group">
          <input type="password" placeholder="Enter your Password" class="form-control" required>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 form-group">
          <input type="submit" class="btn btn-block btn-login" placeholder="Enter your Password" >
      </div>
  </div>
</div>
</form> -->

<!-- <i class="feather icon-xxx">hi feather icon</i>

<i-feather name="github" class="someclass"></i-feather>
<i-feather name="heart" style="color: green;"></i-feather>
<i-feather name="camera"></i-feather> -->
<!-- <div class="container">
    <h1>Welcome to the Login Page</h1>
</div>

<div class="container">
    <h3>Welcome to the Login Page</h3>
    <br>
    <i-feather name="heart"></i-feather>
    <i-feather name="camera"></i-feather>
    <i-feather name="mail"></i-feather>
</div> -->
<!-- <div class="center">
    <p>I am vertically and horizontally centered.</p>
  </div> -->
<div class="container center">    
    	<div class="col-md-4 offset-md-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
                            <input class="form-control" placeholder="E-mail or Username"
                             name="email" type="text" required>
			    		</div>
			    		<div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" 
                            type="password" value="" required>
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
			    	    </div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                    </fieldset>
                    <br>
                    <p class="text-center">(or)</p>
                    <button type="button" (click)="signInWithGoogle()" class="btn btn-lg btn-success btn-block">Sign In With Google</button>
			      	</form>
			    </div>
			</div>
		</div>	
</div>

<div *ngIf="loggedIn===true">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" [value]="user.firstName" readonly >
    </div>          <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" [value]="user.lastName" readonly >
    </div>          <div class="form-group">
      <label for="email2">Email</label>
      <input type="text" class="form-control" id="email2" [value]="user.email" readonly >
    </div>
  
    <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button> 
</div>



<!-- <div class="wrapper">
    <div class="container pl-5 pr-5">
        <div class="row p-5 mx-auto">
            <div class="col-md-6 border pl-5 pr-5 pt-3 pb-3 bg-white">
                <div class="row">
                    <div class="col-5 mt-3">
                        <img src="assets/6solve_logo.png" class="img-fluid">
                    </div>
                </div> 
                <div class="row">
                    <div class="col-10 pt-3">                        
                        <h3 class="heading-color">Welcome back!</h3>
                        <p class="text-color">Enter your email-address and password to <br>access admin panel.
                    </div> 
                </div>
                <div class="row"> 
                    <div class="col-12 mb-3">
                    <form name="RegForm" id="Registr_form" action="submit.php" method="post"> 
                        <div class="form-row"> 
                            <div class="form-group">
                                <label class="text-color">Email Address</label> 
                                    <div class="d-flex">
                                        <span class="p-1 border rounded-left"><i-feather name="Mail" class="icon-color"></i-feather></span><input type="text" size=65 name="email" class="email required input-field" title="Please Enter the Email Address" autocomplete="off" > 
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="text-color">Password</label><label class="float-right"><a href="#" class="text-color">Forgot your password?</a></label> 
                                    <div class="d-flex">     
                                        <span class="p-1 border rounded-left"><i-feather name="Lock" class="icon-color"></i-feather></span><input type="password" size=65 name="password" class="required input-field" id="password" title="Please Enter the Password">      
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="customcheck">
                                    <input type="checkbox">Remember me <span class="checkmark"></span>
                                </label>
                            </div>
                            <button class="w-100 button-blue text-white login-btn" id="submit" (click)="CheckValidate()">Login</button>
                                <div class="text-center w-100 p-1">Or</div>
                            <button class="w-100 button-grey text-white login-btn">Login with Google</button>
                        </div>
                    </form>
                    </div>
 
                </div>
            </div>
            <div class="col-md-6 pl-0">
                <img src="assets/flower.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>


 -->
