<div class="wrapper">
    <div class="container form-cntr">
        <div class="row mx-auto lg-frm">
            <div class="col-md-6 border pl-5 pr-5 pt-3 pb-3 bg-white">
                <div class="row">
                    <div class="col-5 mt-3">
                        <img src="assets/6Solvelogo.jpg" class="img-fluid">
                    </div>
                </div> 
                <div class="row">
                    <div class="col-11 pt-3">                        
                        <h3 class="heading-color">Welcome back!</h3>
                        <p class="text-color lgn-font-size">Enter your email-address and password to <br>access admin panel.
                    </div> 
                </div>
                <div class="row"> 
                    <div class="col-12 mb-3">
                    <form name="RegForm" id="Registr_form" action="submit.php" method="post"> 
                        <div class="form-row"> 
                            <div class="form-group email-pass">
                                <label class="text-color ">Email Address</label> 
                                    <div class="d-flex">
                                        <span class="p-1 border rounded-left"><i-feather name="Mail" class="icon-color"></i-feather></span><input type="text" size=65 name="email"class="email required input-field" title="Please enter the email address" autocomplete="off" > 
                                    
                                    </div>
                                    <label id="email-error" class="error email-error" for="email"></label>
                            </div>
                            <div class="form-group email-pass">
                                <label class="text-color ">Password</label><label class="float-right"><a href="#" class="text-color">Forgot your password?</a></label> 
                                    <div class="d-flex">     
                                        <span class="p-1 border rounded-left"><i-feather name="Lock" class="icon-color"></i-feather></span><input type="password" size=65 name="password" class="input-field required" title="Please enter the password" id="password">      
                                    </div>
                                    <label id="password-error" class="error password-error" for="password"></label>
                            </div>
                            <div class="form-group">
                                <label class="customcheck">
                                    <input type="checkbox">Remember me <span class="checkmark"></span>
                                </label>
                            </div>
                            <button class="w-100 button-blue text-white login-btn" id="submit" (click)="CheckValidate()">Login</button>
                                <div class="text-center w-100 p-1">(or)</div>
                            <button class="w-100 button-grey text-white login-btn">Login with Google</button>
                        </div> 
                    </form>
                    </div>
 
                </div>
            </div>
            <div class="col-md-6 pl-0 form-img">
                <img src="assets/450-520.jpg" class="img-fluid">
                
                <div class="row">
                    <div class="col-12">
                        <div class="img-text position-relative">
                            <h4 class="text-center text-white">I simply love it!</h4>
                                <p class="text-center text-white">"It's a elegant template. I love it very much!"</p>
                                <p class="text-center text-white">-Admin User</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div><!--container end-->
</div><!--wrapper end-->