<div class="wrapper">
    <div class="container-fluid">
      <header>
        <!-- navbar for large screen -->
        <div class="d-none d-sm-block">
          <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0)">
          <img src="assets/6Solvelogo.jpg" class="d-inline-block align-top logo" alt="logo-image">
          </a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
                <div class="main pt-2">
                    <div class="form-group has-search text-search">
                      <i-feather name="search" class="icon-color form-control-feedback"></i-feather>
                      <input type="text" class="form-control" id="search" placeholder="Search">
                    </div>
                  </div>
            </li>
            <li class="dropdown p-2">
                <a href="#" class="dropdown-toggle notify-bell" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <a href="#" data-toggle="tooltip" data-placement="left" title="8 new unread notifications">
                    <i-feather name="bell" class="icon-color"></i-feather><span class="dot"></span>
                  </a>
                </a>
                <ul class="dropdown-menu notify-drop">
                  <div class="notify-drop-title">
                      <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-6">Notification (<b>2</b>)</div>
                          <div class="col-md-6 col-sm-6 col-xs-6 text-right">Clear all</div>
                      </div>
                  </div>
                  <div class="drop-content">
                      <li>
                          <div class="row">
                          <div class="col-2 col-md-2 notify-img">
                            <i-feather name="user" class="icon-color"></i-feather>
                          </div>
                          <div class="col-9 col-md-9 offset-1">
                            <p>Lorem ipsum sit dolor amet consilium.</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-2 col-md-2 notify-img">
                              <i-feather name="user" class="icon-color"></i-feather>
                            </div>
                            <div class="col-9 col-md-9 offset-1">
                              <p>Lorem ipsum sit dolor amet consilium.</p>
                            </div>
                          </div>
                      </li>
                  </div>
                </ul>
              </li>
            <li class="nav-item settings-icon p-2">
                <i-feather name="settings" class="icon-color"></i-feather>
            </li>
          </ul>
          </div>
          </nav>
        </div>
          <!-- NavBar END for large screen -->
        
          <!-- navbar for small screen -->
          <nav class="navbar navbar-expand-md navbar-light fixed-top d-sm-none">
                  
            <a class="navbar-brand" href="javascript:void(0)">
              <img src="assets/6Solvelogo.jpg" class="d-inline-block align-top logo" alt="logo-image">
              </a>
              <ul class="navbar-nav small-bell">
                <li class="dropdown p-2">
                    <a href="#" class="dropdown-toggle notify-bell" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <a href="#" data-toggle="tooltip" data-placement="left" title="8 new unread notifications">
                        <i-feather name="bell" class="icon-color"></i-feather><span class="dot"></span>
                      </a>
                    </a>
                  </li>
                <li class="nav-item settings-icon p-2">
                    <i-feather name="settings" class="icon-color"></i-feather>
                </li>
              </ul>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <!-- Separator with title -->
                <li class="nav-item">
                  <div class="main pt-2">
                      <div class="form-group has-search text-search">
                        <i-feather name="search" class="icon-color form-control-feedback"></i-feather>
                        <input type="text" class="form-control" id="search" placeholder="Search">
                      </div>
                    </div>
              </li>
                <li class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
                    <small>NAVIGATION</small>
                </li>
            
                <a href="javascript:void(0)" class="list-group-item list-group-item-action active border-0" (click)="NavigateDash()">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="dashspanid"><i-feather name="home" class="active mr-4"></i-feather>Dashboard</span>
                    </div>
                </a>
                <!-- /END Separator -->
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0" (click)="NavigateTasks()">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="taskspanid"><i-feather name="bookmark" class="mr-4"></i-feather>Tasks</span>
                    </div>
                </a>
                <a href="/requisition" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="reqspanid"><i-feather name="briefcase" class="mr-4"></i-feather>Requisition</span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0" (click)="NavigateCandidates()">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="candspanid"><i-feather name="award" class="mr-4"></i-feather>Candidates</span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed"><i-feather name="layers" class="mr-4"></i-feather>Application</span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed" id="calspanid"><i-feather name="calendar" class="mr-4"></i-feather>Calendar</span>
                    </div>
                </a>
              </ul>
            </div>
          </nav>
          <!-- NavBar END for small screen -->
        
          <div class="row" id="body-row">
        
          <!-- Sidebar for large screen -->
        
          <div id="sidebar-container" class="sidebar-expanded d-none d-xl-block col-2">
          <ul class="list-group sticky-top sticky-offset">
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            </li>
            <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start recent border-0">
                <div class="d-flex w-100 justify-content-start align-items-center profile">
                    <i-feather name="user" class="icon-color user"></i-feather>
                    <span class="menu-collapsed pl-3">{{userparamvalue}}<p>{{user_rolevalue}}</p></span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <div id="submenu2" class="collapse sidebar-submenu">
                <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                    <span class="menu-collapsed"><span><i-feather name="user"></i-feather></span><span class="pl-3">My Accounts</span></span>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                    <span class="menu-collapsed"><span><i-feather name="settings"></i-feather></span><span class="pl-3">Settings</span></span>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                    <span class="menu-collapsed"><span><i-feather name="alert-circle"></i-feather></span><span class="pl-3">Support</span></span>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action" (click)="Logout()">
                    <span class="menu-collapsed"><span><i-feather name="log-out"></i-feather></span><span class="pl-3">Logout</span></span>
                </a>
            </div>
              <li class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
                  <small>NAVIGATION</small>
              </li>
          
              <a href="javascript:void(0)" class="list-group-item active list-group-item-action" (click)="NavigateDash()">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed"><i-feather name="home" class="mr-4"></i-feather>Dashboard</span>
                  </div>
              </a>
              <a href="javascript:void(0)" id="taskid" class="list-group-item list-group-item-action " (click)="NavigateTasks()">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="taskspanid"><i-feather name="bookmark"  class="mr-4"></i-feather>Tasks</span>
                  </div>
              </a>
              <a href="javascript:void(0)" id="reqid" class="list-group-item list-group-item-action ">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="reqspanid" ><i-feather name="briefcase" class="mr-4"></i-feather>Requisition</span>
                  </div>
              </a>
              <a href="javascript:void(0)" id="candid" class="list-group-item list-group-item-action " (click)="NavigateCandidates()">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="candspanid"><i-feather name="award" class="mr-4"></i-feather>Candidates</span>
                  </div>
              </a>
              <a href="javascript:void(0)" id="appid" class="list-group-item list-group-item-action ">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="appspanid"><i-feather name="layers" class="mr-4"></i-feather>Application</span>
                  </div>
              </a>
              <a href="javascript:void(0)" id="calid" class="list-group-item list-group-item-action ">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="menu-collapsed" id="calspanid"><i-feather name="calendar" class="mr-4"></i-feather>Calendar</span>
                  </div>
              </a>
          </ul>
          <!-- List Group END-->
          </div>
          <!-- sidebar-container END for large screen -->
          
          <!-- Sidebar for medium-size screen -->
          <div id="sidebar-container" class="sidebar-expanded d-none d-sm-block d-xl-none col-2">
            <ul class="list-group sticky-top sticky-offset">
              <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed"> 
              </li>
              <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start recent border-0">
                  <div class="d-flex w-100 justify-content-start align-items-center profile">
                      <i-feather name="user" class="icon-color user"></i-feather>
                      <span class="menu-collapsed pl-3">Rani</span>
                      <span class="submenu-icon ml-auto"></span>
                  </div>
              </a>
              <div id="submenu2" class="collapse sidebar-submenu">
                <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed"><span><i-feather name="user"></i-feather></span><span class="pl-3 hr-detail">Account</span></span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed"><span><i-feather name="settings"></i-feather></span><span class="pl-3 hr-detail">Settings</span></span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed"><span><i-feather name="alert-circle"></i-feather></span><span class="pl-3 hr-detail">Support</span></span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action">
                  <span class="menu-collapsed"><span><i-feather name="log-out"></i-feather></span><span class="pl-3 hr-detail">Logout</span></span>
              </a>
              </div>
                <li class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
                    <small>NAVIGATION</small>
                </li>
            
                <a href="javascript:void(0)" class="list-group-item list-group-item-action active border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="home" class="active mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="bookmark" class="mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="briefcase" class="mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="award" class="mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="layers" class="mr-4"></i-feather></span>
                    </div>
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="menu-collapsed med-menu"><i-feather name="calendar" class="mr-4"></i-feather></span>
                    </div>
                </a>
            </ul>
            <!-- List Group END-->
            </div>
            <!-- sidebar-container END for medium-size screen -->
  
  <!-- MAIN -->
  <div class="col-12 col-md-10 py-3 p-4 mt-5">
    
    <h4 class="p-4">Requisition List Details</h4>
    
        <!-- <div class="col-lg-4 mt-3 pl-3 pr-3 bg-grey req-list-detail">
            <button class="btn-dark-blue w-100 text-white pt-3 pb-3">Requisition Details</button>
        </div>
        <div class="col-lg-4 mt-3 pl-3 pr-3 bg-grey req-list-detail">
            <button class="btn-dark-blue w-100 text-white pt-3 pb-3 ">Process & Owners</button>
        </div>
        <div class="col-lg-4 mt-3 pl-3 pr-3 bg-grey">
            <button class="btn-dark-blue w-100 text-white pt-3 pb-3">Candidates</button>
        </div> -->
        <div class="bg-white ml-n3 mr-n3 p-2 req-list-detail">
        <nav>
            <div class="nav nav-tabs nav-fill bg-grey" id="nav-tab" role="tablist">
                <!-- <div class="row bg-white"> -->
                <!-- <div class="col-lg-4 mt-3 pl-3 pr-3 bg-grey req-list-detail"> -->
                    <a class="nav-item nav-link bg-grey rounded-0 active" id="nav-requisition-tab" data-toggle="tab" href="#nav-requisition" role="tab" aria-controls="nav-requisition" aria-selected="true">Requisition Details</a>
                    <div class="v1 mt-3"></div>
                    <!-- </div> -->
              <!-- <div class="col-lg-4 mt-3 pl-3 pr-3 bg-grey req-list-detail"> -->
                    <a class="nav-item nav-link bg-grey pt-3 pb-3 mr-3 rounded-0" id="nav-process-tab" data-toggle="tab" href="#nav-process" role="tab" aria-controls="nav-process" aria-selected="false">Process & Owners</a>
                    <div class="v1 mt-3"></div>
                    <!-- </div> -->
              <!-- <div class="col-lg-4 mt-3 pl-3 pr-3 bg-grey"> -->
                    <a class="nav-item nav-link bg-grey pt-3 pb-3 rounded-0" id="nav-candidate-tab" data-toggle="tab" href="#nav-candidate" role="tab" aria-controls="nav-candidate" aria-selected="false">Candidates</a>
              <!-- </div> -->
            <!-- </div> -->
            </div>
          </nav>
        </div>
        <div class="tab-content px-3 px-sm-0 req-tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-requisition" role="tabpanel" aria-labelledby="nav-requisition-tab">
    <div class="row bg-white">
    <div class="col-md-6 p-4 reqstn-fields">
    <h4 class="pr-4 pt-3 pb-4 requisition-heading">New Requisition Overview</h4>
    <div class="form-row formrow-height">
      <div class="form-group col-md-5 col-5">
      <label>Job Title</label>
      
      </div> 
     <div class="form-group col-md-7 col-7">
        <span class="float-left">-</span>
        <p class="ml-3">{{jobtitle}}</p>
    </div>
    
    </div>
    <div class="form-row formrow-height"> 
      <div class="form-group col-md-5 col-5">      
          <label>No.of openings </label>
      </div>	
      <div class="form-group col-md-7 col-7">
        <span class="float-left">-</span>
        <p class="ml-3">{{jobopeningcount}}</p>
      </div>
    </div>
    <div class="form-row formrow-height"> 
      <div class="form-group col-md-5 col-5">      
          <label>Start Date</label>
      </div>	
      <div class="form-group col-md-7 col-7">
        <span class="float-left">-</span>
        <p class="ml-3">{{startdate | date: 'dd-MM-yyyy'}}</p>
      </div>
    </div>
    <div class="form-row formrow-height"> 
        <div class="form-group col-md-5 col-5">      
            <label>End Date</label>
        </div>	
        <div class="form-group col-md-7 col-7">
          <span class="float-left">-</span>
          <p class="ml-3">{{enddate | date: 'dd-MM-yyyy'}}</p>
        </div>
      </div>
    <div class="form-row formrow-height">
      <div class="form-group col-md-5 col-5">
      <label>Department</label>
      </div>
    <div class="form-group col-md-7 col-7">
        <span class="float-left">-</span>
        <p class="ml-3"> {{department}}</p>
    </div>
    </div>
    <div class="form-row formrow-height"> 
      <div class="form-group col-md-5 col-5">      
          <label>Overall Experience</label>
      </div>	 
      <div class="form-group col-md-7 col-7">
        <span class="float-left">-</span>
        <p class="ml-3">{{overallexp}} Years</p>
      </div>
    </div>
    <div class="form-row formrow-height">
      <div class="form-group col-md-5 col-5">
      <label>Location</label>
      </div>
          <div class="form-group col-md-7 col-7">
            <span class="float-left">-</span>
             <p class="ml-3">{{location}}</p>
      </div> 
    </div>
    <div class="form-row formrow-height">
      <div class="form-group col-md-5 col-5">
      <label>Reason for Recruitment</label>
      </div>
      <div class="form-group col-md-7 col-7">
        <span class="float-left">-</span>
        <p class="ml-3">{{recruitreason}}</p>
      </div>
    </div>
    <div class="form-row formrow-height"> 
      <div class="form-group col-lg-5 col-5">      
          <label>Salary</label>
      </div>	
      <div class="form-group col-lg-7 col-7">
        <span class="float-left">-</span>
        <p class="ml-3">{{salary}}/-INR</p>
      </div>
    </div>
    
    </div><!--overview--> 
    <div class="col-md-6 bg-white pt-4 pl-3 pr-3 pb-3 reqstn-fields">
    <h4 class="pr-4 pt-3 pb-4 requisition-heading">Job Responsibilities and Skills</h4>
    
    <div class="form-row formrow-text">
      <div class="form-group col-lg-5 col-5">
      <label>Mandatory Skills & corresponding experience</label>
      </div>
      
      <div class="form-group col-lg-7 col-7">
        <span class="float-left">-</span>
        <ul id="mandskillsul">

        </ul>
        <!-- <p class="ml-3 mb-0">Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
        <span class="float-left">-</span>
        <p class="ml-3">Lorem Ipsum Lorem Ipsum Lorem Ipsum</p> -->
    </div>
    </div>
    <div class="form-row formrow-text">
      <div class="form-group col-lg-5 col-5">
      <label>Good to have skills & corresponding experience</label>
      </div>
      <div class="form-group col-lg-7 col-7">
        <span class="float-left">-</span>
        <!-- <p class="ml-3 mb-0">Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
        <span class="float-left">-</span>
        <p class="ml-3">Lorem Ipsum Lorem Ipsum Lorem Ipsum</p> -->
        <ul id="goodskillsul">

        </ul>
    </div>
    </div>
    
    
    <h4 class="pr-4 pt-2 pb-4 requisition-heading">Job Information</h4>
    <div class="form-row formrow-height">
      <div class="form-group col-md-5 col-5">
      <label>Employment Type</label>
      </div>
          <div class="form-group col-md-7 col-7">
            <span class="float-left">-</span>
            <p class="ml-3">{{employeetype}}</p>
            <div class="form-group col-md-6 col-12 mt-3 bg-grey rounded" id="durationshowhide"> 
              <p class="mb-1 mr-1 p-1 text-center bg-grey rounded skill-details">
                {{duration}}
              </p>
            </div>
        </div>
          
    </div>
    <div class="form-row formrow-height">
      <div class="form-group col-md-5 col-5">
      <label>Job Level</label>
      </div>
     <div class="form-group col-md-7 col-7">
        <span class="float-left">-</span>
        <p class="ml-3">{{joblevel}}</p>
      </div>
    </div>
    <div class="form-row formrow-height">
      <div class="form-group col-md-5 col-5">
      <label>Shift</label>
      </div>
      <div class="form-group col-md-7 col-7">
        <span class="float-left">-</span>
        <p class="ml-3">{{shift}}</p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5 col-5">
      <label>Travel</label>
      </div>
    <div class="form-group col-md-7 col-7">
        <span class="float-left">-</span>
        <p class="ml-3">{{travel}}</p>
      </div>
    </div>
    <div class="form-row formrow-height">
      <div class="form-group col-lg-5 col-5">
      <label>Additional notes</label>
      </div>
      <div class="form-group col-lg-7 col-7">
        <span class="float-left">-</span>
        <p class="ml-3">{{additionalnotes}}</p>
      </div>
    </div>

    </div>
    </div>
    <!--Row overview end-->
    </div><!--Requisition div end-->
    <div class="tab-pane fade" id="nav-process" role="tabpanel" aria-labelledby="nav-process-tab">
      <div class=" bg-white pl-3 pr-3 ml-n3 mr-n3">
        
        <div class="card-deck pt-3 pb-3">
          <div class="card rounded-0 requisition-card">
            <div class="card-body" id="interviewroundsul">
              <p class="card-text process-heading"><strong>Interview Rounds</strong></p>
              <!-- <ul id="interviewroundsul">
                
              </ul> -->
              <p class="card-text mb-0 ml-2 font-weight-bold"></p>
              <p class="card-text ml-2"></p>
              <!-- <hr> -->
              <!-- <p class="card-text mb-0 ml-2 font-weight-bold">Round 2</p>
              <p class="card-text ml-2">Lorem ipsum is simply </p>
              <hr>
              <p class="card-text mb-0 ml-2 font-weight-bold">Round 3</p>
              <p class="card-text ml-2">Lorem ipsum is simply  </p>
              <hr>
              <p class="card-text mb-0 ml-2 font-weight-bold">Round 4</p>
              <p class="card-text ml-2">Lorem ipsum is simply</p>
              <hr>
              <p class="card-text mb-0 ml-2 font-weight-bold">Round 5</p>
              <p class="card-text ml-2">Lorem ipsum is simply </p> -->
            </div>
          </div>
          <div class="card rounded-0 requisition-card">
            <div class="card-body">
              <p class="card-text process-heading"><strong>Approver</strong></p>
              <div id="appendapprover">
              <!-- <p class="card-text usr-icon button-grey float-left mr-3 text-center"><i-feather name="user" class="icon-color"></i-feather></p> -->
              <!-- <p class="card-text mb-0" id="appendapprover"></p>
              <p class="card-text owner pb-2" id="appendroletitle"></p> -->
              
             </div>
              <!-- 
              <p class="card-text usr-icon button-grey float-left mr-3 text-center"><i-feather name="user" class="icon-color"></i-feather></p>
              <p class="card-text mb-0">Shreyu N</p>
              <p class="card-text owner pb-2">HR Manager</p>
              <hr>
              <p class="card-text usr-icon button-grey float-left mr-3 text-center"><i-feather name="user" class="icon-color"></i-feather></p>
              <p class="card-text mb-0">Shreyu N</p>
              <p class="card-text owner pb-2">HR Manager</p>
              <hr>
              <p class="card-text usr-icon button-grey float-left mr-3 text-center"><i-feather name="user" class="icon-color"></i-feather></p>
              <p class="card-text mb-0">Shreyu N</p>
              <p class="card-text owner pb-2">HR Manager</p>
              <hr>
              <p class="card-text usr-icon button-grey float-left mr-3 text-center"><i-feather name="user" class="icon-color"></i-feather></p>
              <p class="card-text mb-0">Shreyu N</p>
              <p class="card-text owner pb-2">HR Manager</p> -->
              
            </div>
          </div>
          <div class="card rounded-0 requisition-card">
            <div class="card-body ">
              <p class="card-text process-heading"><strong>Collaborator</strong></p>
              <div id="appendcollaborator">

              </div>
              <!-- <p class="card-text usr-icon button-grey float-left mr-3 text-center"><i-feather name="user" class="icon-color"></i-feather></p>
              <p class="card-text mb-0">Shreyu N</p>
              <p class="card-text owner pb-2">HR Manager</p>
              <hr>
              <p class="card-text usr-icon button-grey float-left mr-3 text-center"><i-feather name="user" class="icon-color"></i-feather></p>
              <p class="card-text mb-0">Shreyu N</p>
              <p class="card-text owner pb-2">HR Manager</p>
              <hr>
              <p class="card-text usr-icon button-grey float-left mr-3 text-center"><i-feather name="user" class="icon-color"></i-feather></p>
              <p class="card-text mb-0">Shreyu N</p>
              <p class="card-text owner pb-2">HR Manager</p>
              <hr>
              <p class="card-text usr-icon button-grey float-left mr-3 text-center"><i-feather name="user" class="icon-color"></i-feather></p>
              <p class="card-text mb-0">Shreyu N</p>
              <p class="card-text owner pb-2">HR Manager</p>
              <hr>
              <p class="card-text usr-icon button-grey float-left mr-3 text-center"><i-feather name="user" class="icon-color"></i-feather></p>
              <p class="card-text mb-0">Shreyu N</p>
              <p class="card-text owner pb-2">HR Manager</p> -->
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-candidate" role="tabpanel" aria-labelledby="nav-candidate-tab">
      <div class="row bg-white pl-3 pr-3">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr class="table-head">
              <th>#</th>
              <th>Name of the Candidate</th>
              <th>Current Stage of the Candidate</th>
              <th>Current Status of the Candidate</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-head">
              <td>1</td>
              <td><a href="javascript:void(0)">Kanthi</a></td>
              <td>Phone Interview</td>
              <td>Hired</td>
            </tr>
            <tr class="table-head">
              <td>2</td>
              <td><a href="javascript:void(0)">Selva</a></td>
              <td>Technical Interview</td>
              <td>Waiting for Approval</td>
            </tr>
            <tr class="table-head">
              <td>3</td>
              <td><a href="javascript:void(0)">Surya</a></td>
              <td>Managerial Interview</td>
              <td>Selected</td>
            </tr>
            <tr class="table-head">
              <td>4</td>
              <td><a href="javascript:void(0)">Muthu</a></td>
              <td>Phone Interview</td>
              <td>Hired</td>
            </tr>
            <tr class="table-head">
              <td>5</td>
              <td><a href="javascript:void(0)">Ramesh</a></td>
              <td>Technical Interview</td>
              <td>Selected</td>
            </tr>
          </tbody>
        </table>
      </div>

      </div>

    </div>
    </div>
</div>

  <!-- Main Col END -->
  
  </div>
  <!-- body-row END -->
      </header>
      
      <section>
  
      </section>
  
          <footer>
  
          </footer>
      </div>
  </div>
  