.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/*header*/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 4.5rem;
}
.container-fluid, .header-nav .col-12{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
body{
  background-color: #f3f4f7 !important;
}
.heading-color, .nav-link{
  color: #4b4b5a;
}
.text-color{
  color: #6c757d;
}
.text-color-blue{
  color: #5369f8;
}
.icon-color{
  color: #2c3d4f;
}
.button-blue{
  background-color: #5369f8;
}
.button-grey{
  background-color: #6c757d;
}
.header-nav, #sidenav{
  background-color: #fff;
}
.navbar-dark{
  padding: 0px;
}

/*header*/

.logo{
  height: 97%;
  width: 35%;
}
.header-nav{
  border-bottom: 1px solid #ccc;
}
.menu p{
  padding-left: 2.5rem;
}
button.search{
  border: 1px solid #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ccc;
}
input.bg-search{
  background-color: #ccc;
}
.search-w{
  width: 100% !important;
}
.feather.feather-user {
  background: #ccc;
  border-radius: 50%;
  padding: 5px;
}
.down-arr i-feather{
  background-color: #ccc;
  border-radius: 20%;
}
.header-icon{
  display: flex;
  justify-content: center;
}
.nav-link:hover {
transition: all 0.4s;
}

.nav-link-collapse:after {
float: right;
content: '\f067';
font-family: 'FontAwesome';
}

.nav-link-show:after {
float: right;
content: '\f068';
font-family: 'FontAwesome';
}

.nav-item ul.nav-second-level {
padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
padding-left: 20px;
}
.nav-link{
  color: #000;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: blue !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #000 !important;
}
.sidenav{
  background-color: #fff;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover{
  border-left: 5px solid #5369f8;
  background: #f6f7ff;
  color: #5369f8 !important;
}
.navbar-dark .hr-exe .navbar-nav .nav-link:hover{
  border-left: 0;
  background: none;
}
.hr-exe p{
  margin-bottom: 0px;
}
.btn.dropdown-toggle {
  padding: 0px 7px;
  background: #ccc;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.icon-color{
  display: inline-block;
  width: 21px !important;
  height: 21px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/*end-of-header*/

/*section*/

/*end-of-section*/

/*footer*/

/*end-of-footer*/

/*media query*/

 @media (min-width: 320px) and (max-width: 767px){  
  .form-cntr {
      padding: 0rem !important;
      margin-left: 15px !important;
  }
  .lg-frm {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
 }
  
 @media (min-width: 768px) and (max-width: 991px) {  
  .img-text {
      right: 260px !important;
  }
 }
  
 @media (min-width: 992px) and (max-width: 1199px) {
  .sidenav {
      position: absolute;
      top: 0;
      left: 0;
      width: 230px;
      height: calc(100vh - 2rem);
      box-sizing: border-box;
      /* border-top: 1px solid rgba(0, 0, 0, 0.3); */
    }
  
    .navbar-expand-lg .sidenav {
      flex-direction: column !important;
    }
  
    .content-wrapper {
      margin-left: 230px;
    }

 }
  
 @media (min-width: 1200px) {  
  .sidenav {
      position: absolute;
      top: 0;
      left: 0;
      width: 230px;
      height: calc(100vh - 2rem);
      box-sizing: border-box;
      /* border-top: 1px solid rgba(0, 0, 0, 0.3); */
    }
  
    .navbar-expand-lg .sidenav {
      flex-direction: column !important;
    }
  
    .content-wrapper {
      margin-left: 230px;
    }
 }


 /*login page*/
/*login page*/
body{
  background-color: #f3f4f7 !important;
 }
 .form-cntr {
  padding: 0rem 3rem 0rem 3rem;
 }
.lg-frm {
  padding: 3rem 0rem 1rem 4rem;
}
.heading-color {
  color: #4b4b5a;
}
.lgn-font-size {
  font-size: 15px;
}
.text-color {
  color: #6c757d;
}
.button-grey {
  background-color: #6c757d;
}
.email-pass {
  height: 80px;
}
.form-group {
  margin-bottom: 0px !important;
}
.rounded-left {
  border-top-left-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important;
}
.input-field {
  display: block;
  width: 100%;
  padding: 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.email-error, .password-error {
  position: relative;
  top: -5px;
  font-size: 10px;
}
/* .customcheck {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.customcheck {
  cursor: pointer;
  font-size: 14px;
} */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* .customcheck input:checked ~ .checkmark {
  background-color: #5369f8;
}
.customcheck input:checked ~ .checkmark::after {
  display: block;
}
.customcheck .checkmark::after {
  left: 5px;
  top: -1px;
  width: 7px;
  height: 14px;
  border: solid white;
      border-top-width: medium;
      border-right-width: medium;
      border-bottom-width: medium;
      border-left-width: medium;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.customcheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
} */

.customcheck {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.customcheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
  left: 5px;
  top: -1px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.email-error, .password-error {
  position: relative;
  top: -5px;
  font-size: 10px;
}
.error {
  color: red;
}
.input-field.error {
  border: 1px solid red;
}
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
}
.login-btn {
  padding: .25rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .3rem;
}
.button-blue {
  background-color: #5369f8;
}
button {
  border-style: none;
}
.img-text {
  top: 350px;
  width: 175px;
  right: 320px;
}
.form-img {
  display: flex;
}